fastapi
uvicorn
pillow
torch
torchvision
ftfy
regex
tqdm
clip-anytorch
faiss-cpu
sqlalchemy
psycopg2-binary
python-multipart
boto3
pydantic
redis
celery
prometheus-client
httpx
dotenv
requests
colorthief
ultralytics
layoutparser
pytesseract
openai